name: OWASP ZAP Security Scan

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  schedule:
    # Agendado para rodar toda semana no domingo a meia-noite
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the web application

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          # Substitua pela URL final real do seu aplicativo se desejar
          target: 'https://smart-finance-hub-tau.vercel.app/'
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'
          
      - name: Upload Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ZAP-Report
          path: report_html.html
